html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    text-align: center;
    margin-top: 50px;
}

.buttons {
    text-align: center;

}

.buttons button {
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        background-color: rgb(15, 15, 16);
        color: white
    }
}


#draw {
    border: 3px solid black;

}
